!!!  
%html  
	%head
		%title SinatraSparql
		%link{:rel => "stylesheet", :href => "css/style.css"}
	%body
		#head
			#menu
				%a{:title => "How does it work", :href => "#"} How does it work
				%a{:title => "About", :href => "#"} About
		#header
			%h1 
				%span#little
					can you feel
				%br the sparql?
		
		=yield